Mask_RCNN/dontUpload/
Mask_RCNN/mrcnn/dontUpload2/
Mask_RCNN/samples/dontUpload3/
Mask_RCNN/dataset/dontUpload4/
Mask_RCNN/dataset/
Mask_RCNN/logs/
Mask_RCNN/flameSeverity4.mp4
Mask_RCNN/maskpool_3_kalman.mp4
Mask_RCNN/maskpool_7.mp4